body {

  background-color: #b38ea9;
  /* background-color: #a3b5b4; */
  /*   background-color: #a3b5b4;
*/

}

.gh-avatar {
  background-color: #8cb7b4;
  margin-left: 12rem;
}

.gh-details {
  background-color: whitesmoke;

}

header {

  margin-top: 15px;
}

.style-card {

  background-color: #8cb7b4;
  margin-top: 20px;
  margin-bottom: auto;
}

h2 {

  color: #929897;
}

.h2Animate {

  border-radius: 50%;
  border: none;
  color: #309992;
  font-weight: 500;
  line-height: 1;

  transition: transform 250ms;

}

.h2Animate:hover {
  transform: translateY(-6px);
}

/*   background-color: #20B2AA; */

.bg-photo-border {

  border-color: white;
  border-width: 0.5rem;
}

.h150 {

  height: 30rem;
  /*height: auto; */
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 500px) {

  .adjustHeight {

    /* resize: horizontal; */
    height: auto;
  }
}



/*
img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

#adjustWidth {

  width: auto;
}

.footerDiv {

  margin-top: 110px;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.styleRight {

  color: #717575;
}

.applyScroll {

  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}